.event-card {
  flex-flow: column;
  width: 35rem;
  height: auto;
  box-shadow: inset 0 1px 5px #3cccc6, 0 1px 20px rgba(0,0,0,.6);
  border: 1px solid #3cccc5;
  border-radius: 100px;
  opacity: 1;
  background-color: #063A50;
}

.event-card .event-img {
  width: 100%;
}

.event-card .card-body {
  color: #3CCCC4;
}

.event-card .image-block {
  align-items: center;
  vertical-align: middle;
  position: relative;
}

.event-card .register-button {
  position: absolute;
  margin: auto;
  bottom: 2rem;
  left: 0;
  right: 0;
  width: 10rem;
}