.event-card {
  flex-flow: column;
  width: 40%;
  height: auto;
  box-shadow: inset 0 1px 5px #3cccc6, 0 1px 20px rgba(0,0,0,.6);
  border: 1px solid #3cccc5;
  border-radius: 100px;
  opacity: 1;
  background-color: #063A50;
}

@media screen and (max-width: 1000px) {.event-card {width:100%}}

.event-card .event-img {
  width: 100%;
  padding: 5px;
}

.event-card .card-body {
  color: #3CCCC4;
}

.event-card .image-block {
  align-items: center;
  vertical-align: middle;
  position: relative;
}

.event-card .register-button {
  position: inherit;
  margin: auto;
  bottom: 2rem;
  left: 0;
  right: 0;
  min-width: 10rem;
}


.card-title {
  font-size: 1.5rem;
}

.event-row {
  display: flex;
  flex-flow: column;
}

.description {
  margin-bottom: 1rem;
}
