.home-page {
	margin: 4rem 20vw;
}

.home-page > div {
	display: flex;
	flex-flow: row;
}

@media screen and (max-width: 1000px) {
	.home-page {margin: 4rem 1rem}
	.home-page > div {flex-flow: column}
}

.mask-desk {display: block}
.mask-mob {display: none}
@media screen and (max-width: 1000px) {.mask-desk {display: none} .mask-mob {display: block}}

.circle {
	width: 50%;
	display: flex;
	z-index: 2;
}

@media screen and (max-width: 1000px) {.circle {width: 100%;margin: 0rem !important}  .circle-1 {margin: 1rem 2rem !important}}

.circle-1 {
	padding: 0.1rem;
	border-radius: 50%;
	background: #083C51 0% 0% no-repeat padding-box;
	box-shadow: 0px 6px 20px #1C737D;
	border: 1px solid #53A8A3;
	height: 15rem;
	width: 15rem
}

.circle-2 {
	padding: 1.5rem;
	border: 1px solid #53A8A3;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	padding: 1rem;
}

.circle-3 {
	border: 10px solid #41D5CC12;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  padding: 0.5rem;
}

.circle-4 {
	border: 1px solid #1A5765;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	padding: 1rem;
}

.small-circle-1 {
	position: absolute;
	padding: 0.1rem;
	border-radius: 50%;
	box-shadow: 0px 6px 20px #1C737D;
	border: 1px solid #53A8A3;
	z-index: 1;
}

.small-circle-2 {
	padding: 1.5rem;
	border: 1px solid #53A8A3;
	border-radius: 50%;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
}

.small-circle-3 {
	border: 10px solid #41D5CC12;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  padding: 0.2rem;
}

.small-circle-4 {
	border: 1px solid #1A5765;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.shadow-circle {
	background: #41D5CC 0% 0% no-repeat padding-box;
	opacity: 0.08;
	filter: blur(50px);
	border-radius: 50%;
	position: absolute;
	z-index: 0;
}
