.user-card {
  width: 25rem;
  height: auto;
  margin: 1rem;
  box-shadow: inset 0 1px 5px #3cccc6, 0 1px 20px rgba(0,0,0,.6);
  border: 1px solid #3cccc5;
}

@media screen and (max-width: 1000px) {.user-card {width:100%}}

.user-card .profile-img {
  max-height: 15rem;
}

.text-justify {
	text-align: justify;
}

.badge {
	background-color: #3CC9C3;
	color: black;
  text-align: center;
  width: 90%;
  border-radius: 30px;
  border: 1px solid #3cc9c3;
}
