.navbar-nav {
  position: fixed;
  right: 0;
}

.navbar .navbar-brand {
  font-size: 2.5rem;
  color: white;
}

@media screen and (max-width: 1000px) {
  .navbar-nav {
  	width: 100%;
  	height: 100vh;
  	padding: 8rem 0 !important;
  	text-align: center;
 		background: linear-gradient(180deg, #063A50 0%, #155E6C 75%)
 	}
 	.bg-secondary {
 		margin-top: 1rem;
 	}
 	.nav-item {
 		margin: 1vw
 	}
}

.navbar-toggler {
  border: 0;
  border-radius: 0
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	background-image: url("~assets/images/icon_close.png");
	opacity: 0.6
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0
}

.navbar-dark .navbar-toggler {
  border-color: rgba(0,0,0,0)
}

